.left-menu {
  height: 50px;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900;
  width: 50px;
  overflow: hidden;
  -webkit-transition: .5s cubic-bezier(.8, .5, .2, 1.4);
  -o-transition: .5s cubic-bezier(.8, .5, .2, 1.4);
  transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}



.left-menu.openMenu {
  height: 100%;
  background-color: #00838f;
}


.hamburger {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffc107;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 4px rgba(0, 0, 0, .5);
  position: relative;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.hamburger.open {
  background-color: #FF637F;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.hamburger:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);

}

.hamburger span {
  width: 60%;
  height: 3px;
  background-color: #000;
  display: block;
  border-radius: 1px;
  float: left;
  margin-left: 20%;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.hamburger span:nth-child(1) {
  margin-top: 13px;
}

.hamburger span:nth-child(2) {
  margin-top: 3px;
}

.hamburger span:nth-child(3) {
  margin-top: 3px;
}

.open span:nth-child(1) {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  position: absolute;
  top: 5px;
  right: 8px;
  width: 25px;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  border-radius: 10px;
}

.open span:nth-child(2) {
  background-color: #fff;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin-top: 18px;
  opacity: 0;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.open span:nth-child(3) {
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin-top: 0;
  position: absolute;
  top: 18px;
  right: 8px;
  width: 25px;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  border-radius: 10px;
}

.openMenu {
  width: 250px;
  overflow: hidden;
  -webkit-transition: .5s cubic-bezier(.8, .5, .2, 1.4);
  -o-transition: .5s cubic-bezier(.8, .5, .2, 1.4);
  transition: .5s cubic-bezier(.8, .5, .2, 1.4);
}

.left-menu__list {
  margin-top: 70px;
  list-style: none;
  padding: 0;
}

.left-menu__list li {
  width: 250px;
  line-height: 40px;
  color: #fff;
  font-size: 13px;
}

.left-menu__list li:hover {
  background-color: #00bcd6;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  cursor: pointer;

}

.left-menu__list li a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: block;
}

.left-menu__list li a svg {
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 0;
}

.left-menu__list li a span {
  text-decoration: none;
  color: #fff;
  width: 100%;
}



.dropdown-list li a span {
  padding-left: 30px;
}

.left-menu__list i.fa {
  font-size: 25px;
  padding: 10px;
  width: 50px;
  text-align: center;
}

.left-menu__list li ul li {
  padding: 0;
  line-height: 30px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.left-menu__list li ul li:hover {
  background: #4DD0E1;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;

}

.left-menu__list li ul li ul li {
  padding: 5px;
  background: #B2EBF2;
}

.left-menu__list li ul li ul li a span {
  color: #00838f;
}

.left-menu__list li ul li ul li:hover {
  background: #B2EBF2;
}

.dropdown {
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
  display: block;
  position: relative;
}

.active+.dropdown-list {
  width: 100%;
  height: auto;
  line-height: 30px;
  padding: 0;
  margin-left: 0;
  background: #4DD0E1;

}

.hide+.dropdown-list {
  height: 0;
}

.active+.dropdown-list:hover {
  background: #00bcd6;
}

.dropdown-list {
  width: 0;
  height: 0;
  overflow: hidden;
}

.dropdown:before {
  content: ">";
  -webkit-transform: scale(.60, 1.0);
  -moz-transform: scale(.60, 1.0);
  -ms-transform: scale(.60, 1.0);
  -o-transform: scale(.60, 1.0);
  transform: scale(.60, 1.0);
  font-stretch: ultra-condensed;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  padding-right: 5px;
  right: 20px;
  position: absolute;
  top: 4px;
}

.dropdown.active:before {
  content: '>';
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  padding-right: 5px;

}

.left-menu:not(.openMenu) li>.dropdown-list {
  pointer-events: none;
  height: 0;
}

.menu__icon {
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}