
.header-flex {
  margin-top: 60px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.search__form {
  padding-top: 15px;
}

.search__form-block {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 2px solid #ccc;
}

.search__form-head {
  font-size: 20px;
  font-weight: 700;
}

.search__form-input {
  width: 100%;
  padding-top: 5px;
  border-style: none;
  outline: none;
  background-color: transparent;
}

.search__form-input:focus {
  border-top: 2px solid #ccc;
}
